
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">

        <ul class="header-links pull-right">
          <li><a href="/profile"><i class="fa fa-user-o"></i>{{authState === false ? 'LOGIN' : 'My Account'}}</a></li>
          <li *ngIf="!authState"><a routerLink="/register"><i class="fa fa-user-plus"></i> REGISTER</a></li>
        <li><a href="/test/admin" *ngIf="authState"><i class="fa fa-user-plus"></i> ADMIN</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- LOGO -->
          <div class="col-md-3">
            <div class="header-logo">
              <a routerLink="/" class="logo">
                <img src="../../../assets/img/logo.png" alt="70px" width="170px" height="70px">
              </a>
            </div>
          </div>
          <!-- /LOGO -->

          <!-- SEARCH BAR -->
          <div class="col-md-8">
            <div class="header-search">
              <form>
                <input class="input" placeholder="Search...">
                <button class="search-btn">Search</button>
              </form>
            </div>
          </div>
          <!-- /SEARCH BAR -->

          <!-- ACCOUNT -->
          <div class="col-md-3 clearfix">
            <div class="header-ctn">

              <!-- Wishlist
              <div>
                <a href="/savelist">
                  <i class="fa fa-heart-o"></i>
                  <span>Savelist</span>
                  <div class="qty">0</div>
                </a>
              </div>
               /Wishlist -->


            </div>
          </div>
          <!-- /ACCOUNT -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->

  <!-- NAVIGATION -->
  <nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav py-3">
          <li class="active"><a href="/">Home</a></li>

          <li><a class="myDIV">All Categories</a>
            <div class="hide">
              <h6> </h6>
              <h6>Thriller</h6>
              <h6>Fiction</h6>
              <h6>Fantasy</h6>
              <h6>Horror</h6>
              <h6>Drama</h6>
              <h6>Romance</h6>
            </div>
          </li>

          <li><a class="myDIV2">Contact Us</a>
            <div class="hide">
              <h6> </h6>
              <h6>india@ibdb.com</h6>
              <h6>CDAC, K.Park, Bengaluru</h6>
            </div>
          </li>

        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
  </nav>
  <!-- /NAVIGATION -->


